@charset "UTF-8";

/* スマートフォンファースト制作 */

/*初期設定
----------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=M+PLUS+Rounded+1c&display=swap");

html {
  font-size: 62.5%; /* ベースフォントサイズ　10px */
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-color: #eee;
  background-image: url("../img/bg-body.png");
}

img {
  max-width: 100%;
  height: auto;
}

/*レイアウト・スマートフォン用・モバイルファースト
----------------------------------------------------*/
.header-top-page {
  margin-bottom: 4rem;
}
.header-top-page h1 {
  font-size: 2.8rem;
  font-weight: normal;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
  text-align: center;
}
.navigation-top-page ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.navigation-top-page ul li {
  width: 50%;
}
.navigation-top-page ul li a {
  display: block;
  text-align: center;
  font-size: 1.6rem;
  color: #666;
  text-shadow: 1px 1px 1px #fff;
  text-decoration: none;
}
.content-top-page {
  margin: 0 auto;
  padding: 0 20px;
}
.content-top-page h2 {
  margin: 0.5rem 0;
  padding-left: 10px;
  border-left: 3px solid #333;
  font-size: 2.2rem;
  font-weight: normal;
  text-shadow: 1px 1px 1px #fff;
}
.content-top-page p {
  font-size: 1.6rem;
  color: #333;
  line-height: 1.6;
  text-shadow: 1px 1px 1px #fff;
}
.article-top-page {
  margin-bottom: 4rem;
}

.aside-top-page {
  margin-bottom: 2rem;
  background-color: #dedede;
}
.aside-top-page h3 {
  margin: 0.5rem 0;
  font-size: 1.8rem;
  font-weight: normal;
  text-shadow: 1px 1px 1px #fff;
}
.aside-top-page p {
  font-size: 1.4rem;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
  line-height: 1.6;
}
.aside-top-page section {
  padding: 10px;
}
.footer-top-page {
  width: 100%;
  padding: 40px 0;
  background-color: #dedede;
  font-size: 1.2rem;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
  text-align: center;
}

/*Media Queries
----------------------------------------------------*/
@media screen and (min-width: 768px) {
  .header-top-page h1 {
    font-size: 3.2rem;
  }
  .navigation-top-page ul li {
    width: 25%;
  }
  .content-top-page {
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    /* align-items: baseline; */
  }
  .main-top-page {
    width: 63%;
  }
  .aside-top-page {
    width: 33%;
    align-self: flex-start;
  }
}
